/* base styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #222;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.2rem;
  margin: 1em 0 1em 0;
  color: #dd1f26;
}

h2 {
  font-size: 1.85rem;
  color: #858585;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.25rem;
  color: #525252;
  margin: 0 0 0.25em;
}

h4 + span {
  display: block;
  margin-bottom: 1.65em;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding-right: 1em;
  text-align: justify;
}

ul {
  list-style: none;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 1em;
}

/* nav & links */

a {
  color: #e7212b;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  font-size: 1.25rem;
  color: #dd1f26;
  padding-bottom: 0.15em;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover,
.nav-active,
p a:hover {
  color: #5dabaa;
}

.categories a {
  font-weight: 500;
  color: #605e5e;
  text-decoration: none;
  padding: 0.25em 0.4em;
}

.categories a:hover,
a.category-active {
  /* color: #fff;
  background-color: #605e5e; */
  border-radius: 3px;
}

.session a,
.exp a {
  display: block;
  color: #383838;
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 0.85em 1.125em;
  border-radius: 3px;
}

.session a:hover,
a.session-active {
  color: #489b9a;
}

.exp a:hover,
a.exp-active {
  color: #489b9a;
}

/* Useful Links */

.usefullink:hover {
  cursor: pointer;
  background-color: #489b9a;
  color: white;
}

.usefullink p {
  margin: 0;
  padding-left: 1rem;
}

p.link-name {
  background-color: #d3d3d361;
}
/* Useful Links */

/* components & assets */
.logo {
  width: 220px;
}

.img-feat {
  width: 100%;
  border-radius: 0.35em;
  margin-bottom: 2em;
}

.categories,
.experiences {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

ul.session-list,
ul.exp-list {
  display: flex;
}

.session + .session {
  margin-left: 1.5em;
}

.session-name,
.exp-name {
  font-size: 1.125rem;
  font-weight: bold;
}

.session p {
  margin: 0;
}

.exp p {
  margin: 0.5rem;
}

form {
  font-size: 1.25rem;
  margin: 2em auto;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 1.5em;
}

input {
  font-size: 1em;
  margin-top: 0.35em;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

input:focus {
  outline-color: #5dabaa;
}

input[type="submit"] {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 0.65em 0;
  background-color: #75bebd;
  border: none;
}

input[type="submit"]:hover {
  background-color: #5dabaa;
}

/* layout */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.87em 0;
}

.not-found {
  text-align: center;
}

.not-found::before {
  content: "😕";
  margin-right: 0.35em;
}

footer.container {
  padding: 2.25em 0;
  margin-top: auto;
  border-top: 1px solid rgb(219, 219, 219);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card */

.experiences .card {
  height: 7rem;
  background-color: #5dabaa;
  color: white;
}

.card:hover {
  box-shadow: 2px 8px 16px 0 #3a5c5b;
}

.card-container {
  padding: 2px 16px;
  display: flex;
}

.about-vivek {
  display: flex;
}
.about-vivek p {
  text-align: left;
}
.core-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sustainable-growth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Footer */
footer nav a,
footer p {
  font-size: 1rem;
}
/* Footer */

.bm-burger-button,
.mobile-header-container {
  display: none;
}
.desktop-header {
  display: flex;
}

/* media queries */

/* Mobile devices – 320px — 480px. */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

/* iPads, Tablets – 481px — 768px. */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 461px;
    width: 100%;
    margin: 0 auto;
  }
  nav a {
    padding: 0.35em 0;
  }
}

/* common style for all devices */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.35rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.1rem;
  }
  .mobile-header-container h1 {
    color: white;
  }
  .about-vivek p {
    text-align: justify !important;
  }
  .img-feat {
    margin-bottom: 0;
    margin-top: 1em;
  }
  .about-vivek,
  .core-values,
  .sustainable-growth {
    display: table;
  }

  .about-vivek .intro-text {
    display: table-footer-group;
  }
  .bm-burger-button,
  .mobile-header-container {
    display: block;
  }
  .desktop-header {
    display: none;
  }
}

/* Small screens, laptops – 769px — 1024px. */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.35rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.1rem;
  }
  .mobile-header-container h1 {
    color: white;
  }
  .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }
  .desktop-header {
    display: none;
  }
  .bm-burger-button,
  .mobile-header-container {
    display: block;
  }
  .mobile-header-container h1 {
    color: white;
  }
  .img-feat {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

/* Desktops, large screens – 1025px — 1200px. */
@media (min-width: 1025px) {
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  header,
  footer,
  nav {
    display: flex;
    align-items: center;
  }

  header.container {
    margin-bottom: 1em;
  }

  nav {
    margin-left: auto;
  }

  nav a {
    margin-left: 1.25em;
  }

  .nav-active {
    border-bottom: 2px solid currentColor;
  }

  .experiences {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  form {
    width: 60%;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #fff;
  }
}

/* Extra large screens, TV – 1201px, and more. */
@media (min-width: 1201px) {
}
